<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Products List</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <h1>Products</h1>
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% else %}
                <ul>
                    {% if products %}
                        {% for product in products %}
                            <li>
                                ID: {{ product.id }} <br>
                                Name: {{ product.name }} <br>
                                Category: {{ product.category }} <br>
                                Price: {{ product.price }} <br>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>No products found</li>
                    {% endif %}
                </ul>
            {% endif %}
    </main>
    {% include 'footer.html' %}
</body>
</html>